# Copyright (C) 2026 Delinquants
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <https://www.gnu.org/licenses/>.
---
- name: Disable cloud-init services
  when: disable_cloud_init | default(false)
  tags: cloud-init
  ansible.builtin.service:
    name: "{{ item }}"
    state: stopped
    enabled: false
  loop:
    - cloud-config.service
    - cloud-final.service
    - cloud-init-local.service
    - cloud-init.service

- name: Disable cloud-init target
  when: disable_cloud_init | default(false)
  tags: cloud-init
  ansible.builtin.copy:
    dest: /etc/cloud/cloud-init.disabled
    content: ""
    mode: "0644"

- name: Disable cockpit (admin GUI access)
  tags: cockpit
  when: disable_cockpit | default(false)
  ansible.builtin.service:
    name: "{{ item.name | default(item) }}"
    state: stopped
    enabled: "{{ item.enabled | default(false) }}"
  loop:
    - cockpit.socket
    - name: cockpit.service
      enabled: "{{ omit }}"
  loop_control:
    label: "{{ item.name | default(item) }}"

- name: Apply RedHat-specific configuration changes
  when: ansible_os_family == 'RedHat'
  block:
    - name: Disable cockpit service in firewalld
      tags: cockpit
      when: disable_cockpit | default(false)
      ansible.posix.firewalld:
        service: "cockpit"
        state: disabled
        permanent: true
        immediate: true

    - name: Enable firewalld logging
      when: enable_firewalld_logs | default(true)
      notify: Reload firewalld
      ansible.builtin.lineinfile:
        line: LogDenied=all
        regexp: ^#?LogDenied=
        path: /etc/firewalld/firewalld.conf
